
body{
	background: ;
}
/* start Header and brand */
#NavBar{
	/* background: #24292c;
	opacity: .1; */
}
#Header_Bannar{
	background: url(../img/headBg.jpg)no-repeat;
}
.navColor{
	background: transparent;
	border-color:transparent; 
}

.navStyle{
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 38px;

}
.logo{
	padding-top: 20px;
}
.logo img{
	width: 50px;
	height: 51px;
}
.Tslide{
	padding-top: 190px;
}
.allcontant_right_fromHeader{
	/* padding-left: 50px; */
}


.hello{
	color:#fff;
	display: inline-block;
}
.hello h1{
	margin-top: 0;
	font-size: 52px;
	font-weight: bold;
}
.hello h3{
	font-size: 37px;
}
.hello h5 {
    font-size: 21px;
}
.appStore {
    padding-top: 30px;
}
 .stroeAG {
    padding-right: 63px;
    padding-top: 20px;
}
.googlestore {
    padding-left: 22px;
}
.wd {
    width: 415px;
    padding-bottom: 45px;
}
.doublephone{
	float: right;
} 
.doublephone img {
    width: 300px;
    height: 452px;
}


.phone{
}
/* end Header and brand */

/* About us start */

#AboutUs{
	background: #fff;
}
.aboutUs{
	padding-top: 85px;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden; 
}
.Iphonecenter{
	

}
.aboutContant{
	padding-top: 71px;
}
.aboutContant h3{
	font-size: 36px;
	font-weight: bold;
}
.aboutContant p{
	font-size: 19px;
	line-height: 1.6em;
	padding-top: 15px;
}

.pad{
	padding-top: 60px;
}
/* About us end */

/* start Macro Photographic */
#MacroPhoto{
	background: url(../img/Moreabout.jpg) no-repeat;
	color:#fff;
}
.macrodisc{
	padding-top: 30px;
	padding-bottom: 278px;
}
.macrodisc h2{
	font-size: 52px;
	font-weight: bold;
}
.macrodisc h6{
	font-size: 37px;
	padding-top: 15px;
}

/* end Macro Photographic */

/* start Contact Us */
#ContactUs{
	background: #fff;
	border-bottom: 1px solid #cacdcf;

}
.team{
	padding-top: 70px;
	padding-bottom: 75px;
	overflow: hidden;
}
/* .person .p1{
	display: inline-block;
	float: left;
	padding-right: 10px;
}
 */
.person2{
	/* clear: both; */
	padding-top: 30px;
}

/* .person2 .p1{
	display: inline-block;
	float: left;
	padding-right: 10px;
} */
.pinfo p{
	line-height: 1.5em;
}

.pinfo h6{
	font-size: 21px;
	font-weight: bold;
	color:#4e5b61;
}

.contactus h3{
	font-size: 36px;
	font-weight: bold;
	margin-top: 0;
	color:#4e5b61
}
.contactus p{
	line-height: 1.8em;
}
.contactus .dck{
	padding-top: 20px;
}
/* end Contact Us */

/* start Footer */

#Footer{
	background: #fff;
}
.footer{
	padding-top: 38px;
	padding-bottom: 100px;
	overflow: hidden;
}
.footer a{
	color:#4e5b61;
}

/* end Footer */



@media (min-width: 320px) and (max-width: 767px){
	.Tslide{ 
		padding-top:55px;
	}
	.logo{
		padding-top: 0;
	}
	.navbar-brand {
		padding-top:0;
	}
	.hello h1{
		font-size: 20px;
		padding-top: 15px;
	}
	.hello h3{
		font-size: 18px;
	}
	.hello h5{
		font-size: 14px;
	}
	.appStore {
    	padding-top: 10px;
	}
	.appStore img{
		width:285px;
	}
	.stroeAG {
    	padding-top: 15px;
	}
	.stroeAG img {
    	height: 50px;
    	width: 285px;
	}
	.wd{
		padding-bottom: 0;
	}
	.googlestore {
    	padding-left: 0;
	}
	.googlestore {
    	padding-left: 0;
    	padding-top: 20px;
	}
	.doublephone img {
    	text-align: center;
    	width: 285px;
	}
	.doublephone img{
		width:220px;
		height: 223px;
	}
	.doublephone {
	    float: none;
	    padding-left: 32px;
	    padding-top: 25px;
	}
	.Iphonecenter .col-md-5{
		padding-left: 3px;
	}

	.macrodisc{
		padding-bottom: 138px;
	}

}